.pagination {
    margin-top: 20px;
}

.pagination .page-item .page-link {
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.pagination .page-item:hover .page-link {
    background-color: #007bff;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
}